<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="pics.css" rel="stylesheet" type="text/css" />

<link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
</head>

  <body>
        <div class="menu-toggle" id="hamburger">
            <i class="fas fa-bars"></i>
        </div>
        <div class="overlay"></div>
        <div class="container">       
            <nav>
                <h1 class="brand"><a href="https://bmsce.ac.in">BM<span>S</span>CE</a></h1>
                <div class="main_menu">
                <ul>
                    <li><a href="pic.html">Home</a></li>    
                    <li><a href="aboutus.html">About</a></li>
                    <li><a href="meetteam.html">Contact</a></li>
                    <li><a href="#">Services</a>
                      <div class="sub_menu">    
                        <ul>
                          <li><div class="one"><a href = "Road.html">Novel</a></div></li>
                          <li><div class="two"><a href = "comics.html">Comics</a></div></li>
                          <li><div class="three"><a href = "ml.html">Computers</a></div></li>
                        </ul>
                      </div>             
                    <li><a href ="entry.html">LogOut</a></li>
                </ul>
              </div>
            </nav>
            <div class="button_box2">
                <form class="form-wrapper-2 cf">
            <input type="text" placeholder="Search here..." required>
            <button type="submit">Search</button>
                </form>
            <!--Pics start here-->
        <div class="gallery-image">
                <div class="img-box">
                 <img src="Cloud Computing, A Practical Approach.jpg"  alt="" />
                  <div class="transparent-box">
                    <div class="caption">
                      <p><a href= "https://www.amazon.in/Cloud-Computing-Practical-Approach-Velte/dp/0070683514/ref=lp_14158183031_1_2?s=books&ie=UTF8&qid=1573924433&sr=1-2" target="blank">Computer Science</a></p>
                      <p class="opacity-low"><a href= "https://www.amazon.in/Cloud-Computing-Practical-Approach-Velte/dp/0070683514/ref=lp_14158183031_1_2?s=books&ie=UTF8&qid=1573924433&sr=1-2" target="blank">Click to BUY</a></p>
                    </div>
                  </div>
                </div>
                <div class="novel">
                        <h1>Cloud Computing, A Practical Approach </h1><br>
                        <div class="script">
                        <p>This book provides a comprehensive look at the emerging paradigm of Internet-based enterprise applications and services. This accessible book offers a broad introduction to cloud computing, reviews a wide variety of currently available solutions, and discusses the cost savings and organizational and operational benefits. You'll find details on essential topics, such as hardware, platforms, standards, migration, security, and storage. You'll also learn what other organizations are doing and where they're headed with cloud computing. If your company is considering the move from a traditional network infrastructure to a cutting-edge cloud solution, you need this strategic guide.</p>
                        </div>
                
                
                </div>
               <!-- pics end from here -->
            </div>
        </div>
        
   
</body>
</html>

