<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="pics.css" rel="stylesheet" type="text/css" />

<link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
</head>

  <body>
        <div class="menu-toggle" id="hamburger">
            <i class="fas fa-bars"></i>
        </div>
        <div class="overlay"></div>
        <div class="container">       
            <nav>
                <h1 class="brand"><a href="https://bmsce.ac.in">BM<span>S</span>CE</a></h1>
                <div class="main_menu">
                <ul>
                    <li><a href="pic.html">Home</a></li>    
                    <li><a href="aboutus.html">About</a></li>
                    <li><a href="meetteam.html">Contact</a></li>
                    <li><a href="#">Services</a>
                      <div class="sub_menu">    
                        <ul>
                          <li><div class="one"><a href = "Road.html">Novel</a></div></li>
                          <li><div class="two"><a href = "comics.html">Comics</a></div></li>
                          <li><div class="three"><a href = "ml.html">Computers</a></div></li>
                        </ul>
                      </div>             
                    <li><a href ="entry.html">LogOut</a></li>
                </ul>
              </div>
            </nav>
            <div class="button_box2">
                <form class="form-wrapper-2 cf">
            <input type="text" placeholder="Search here..." required>
            <button type="submit">Search</button>
                </form>
            <!--Pics start here-->
        <div class="gallery-image">
                <div class="img-box">
                 <img src="One piece.jpg"  alt="" />
                  <div class="transparent-box">
                    <div class="caption">
                      <p><a href= "https://www.amazon.in/One-Piece-01-Eiichiro-Oda/dp/1569319014/ref=sr_1_4?keywords=one+piece+manga&qid=1577715863&sr=8-4" target="blank">Comics</a></p>
                      <p class="opacity-low"><a href= "https://www.amazon.in/One-Piece-01-Eiichiro-Oda/dp/1569319014/ref=sr_1_4?keywords=one+piece+manga&qid=1577715863&sr=8-4" target="blank">Click to BUY</a></p>
                    </div>
                  </div>
                </div>
                <div class="novel">
                        <h1>One Piece </h1><br>
                        <div class="script">
                        <p>A new shonen sensation in Japan, this series features Monkey D. Luffy, whose main ambition is to become a pirate. Eating the Gum-Gum Fruit gives him strange powers but also invokes the fruit's curse: anybody who consumes it can never learn to swim. Nevertheless, Monkey and his crewmate Roronoa Zoro, master of the three-sword fighting style, sail the Seven Seas of swashbuckling adventure in search of the elusive treasure "One Piece."</p>
                        </div>
                
                
                </div>
               <!-- pics end from here -->
            </div>
        </div>
        
   
</body>
</html>

