<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<!--<link href="novel.css" rel="stylesheet" type="text/css"/>-->
<link href="pics.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">

</head>

  <body>
        <div class="menu-toggle" id="hamburger">
            <i class="fas fa-bars"></i>
        </div>
        <div class="overlay"></div>
        <div class="container">       
            <nav>
                <h1 class="brand"><a href="https://bmsce.ac.in">BM<span>S</span>CE</a></h1>
                <div class="main_menu">
                <ul>
                  <li><a href="pic.html">Home</a></li>    
                  <li><a href="aboutus.html">About</a></li>
                  <li><a href="meetteam.html">Contact</a></li>
                  <li><a href="#">Services</a>
                    <div class="sub_menu">    
                      <ul>
                        <li><div class="one"><a href = "Road.html">Novel</a></div></li>
                        <li><div class="two"><a href = "comics.html">Comics</a></div></li>
                        <li><div class="three"><a href = "ml.html">Computers</a></div></li>
                        </ul>
                      </div>             
                    <li><a href ="entry.html">LogOut</a></li>
                </ul>
              </div>
            </nav>
            <div class="button_box2">
                <form class="form-wrapper-2 cf">
            <input type="text" placeholder="Search here..." required>
            <button type="submit">Search</button>
                </form>
            <!--Pics start here-->
        <div class="gallery-image">
                <div class="img-box">
                  <img src="C:\Users\shrey\Documents\College\sem3\PW-3rd\Pics\HTML and CSS Design and Build Websites.jpg" alt="" /></a>
                  <div class="transparent-box">
                    <div class="caption">
                      <p><a href= "https://www.amazon.in/HTML-CSS-Design-Build-Websites/dp/1118008189/ref=pd_sbs_14_img_1/261-9051439-0219513?_encoding=UTF8&pd_rd_i=1118008189&pd_rd_r=8e65c3eb-49cc-418e-98e5-c7028ff06893&pd_rd_w=xEEWJ&pd_rd_wg=nawDd&pf_rd_p=21bbdc4d-873b-48c5-a88a-70e643377944&pf_rd_r=THYQASACWP158CW33DC2&psc=1&refRID=THYQASACWP158CW33DC2" target="blank">Computer Science</a></p>
                      <p class="opacity-low"><a href= "https://www.amazon.in/HTML-CSS-Design-Build-Websites/dp/1118008189/ref=pd_sbs_14_img_1/261-9051439-0219513?_encoding=UTF8&pd_rd_i=1118008189&pd_rd_r=8e65c3eb-49cc-418e-98e5-c7028ff06893&pd_rd_w=xEEWJ&pd_rd_wg=nawDd&pf_rd_p=21bbdc4d-873b-48c5-a88a-70e643377944&pf_rd_r=THYQASACWP158CW33DC2&psc=1&refRID=THYQASACWP158CW33DC2" target="blank">Click to BUY</a></p>
                    </div>
                  </div>
                </div>
                <div class="novel">
                        <h1>HTML and CSS: Design and Build Websites </h1><br>
                        <div class="script">
                        <p>“A full-color introduction to the basics of HTML and CSS from the publishers of Wrox! Every day, more and more people want to learn some HTML and CSS. Joining the professional web designers and programmers are new audiences who need to know a little bit of code at work (update a content management system or e-commerce store) and those who want to make their personal blogs more attractive. Many books teaching HTML and CSS are dry and only written for those who want to become programmers, which is why this book takes an entirely new approach..</p>
                        </div>
                
                
                </div>
               <!-- pics end from here -->
            </div>
        </div>
   
</body>
</html>

