<html>
<head>
<title> My Website</title>
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
  <div id="container">
    <div id="header">
	<h1>My website</h1>
	</div>
	<div id="content">
	  <div id="nav">
	   <h3>Navigation</h3>
	   <ul>
	     <li><a class="selected" href="">Home</a></li>
		 <li><a href ="">About</a></li>
		 <li>Contact</li>
	   </ul>
	   </div>
	  
	  <div id="main">
	    <h2>Home page</h2>
		
	  <p>He began his career in 2005, working on hardstyle music. He has performed at Qlimax, Defqon.1, Q-Base, inQontrol, Decibel and Hard Bass and has performed at electronic music festivals including Electric Daisy Carnival and Tomorrowland. Headhunterz released his work on Scantraxx through his own sub-label, Scantraxx Reloaded, but in 2013, he started his own record label, HARD with STYLE. He signed with North American electronic dance music label Ultra Music in 2013 and left his own label in 2015. As of June 2017, he has made his official return to the Hardstyle community at the Closing Ceremony of Defqon.1 Weekend Festival 2017. In 2018, Headhunterz and Wildstylez developed a brand new Hardstyle label called Art of Creatio</p>
	  <p>Willem Rebergen was born on 12 September 1985 in Veenendaal, Netherlands. From an early age Rebergen had an interest in music. Having struggled with bullying at school, Rebergen looked for a distraction to make himself happy and so joined a local kid's choir.[1] Here he had his first exposure to a professional studio, recording Christmas albums with the choir.[2] This experience left Rebergen interested and inspired by the process of creating music from the other side of the studio.[1] In 2003, while working at a clothing store he was offered tickets to Qlimax from friends who could not attend. This was his first exposure to hardstyle music. This experience gave him the impetus to forge a music career and in his own words from then on he was "devoted to hardstyle and from that point interested in how to make the music. I wanted to make that kind of music.</p>
	  <p>He purchased some turntables and connected them to his mixer practicing his DJing, while simultaneously making music in FL Studio, a digital audio workstation.[2] Rebergen began sending demos out to labels under the alias Nasty D-Tuners, a duo project he formed with close friend Bobby van Putten. In 2004 Nasty D-Tuners entered and won the Defqon.1 DJ contest, winning a spot on that year's lineup.[2][3]</p>
	  
	  
	  
	  </div>
	<div id="footer">
	
	COPYRIGHT &COPY; 2019 VARADKJ
	
	</div>
	






</html>