<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="logn.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
    <script src="login.js"></script>
 <!-- The core Firebase JS SDK is always required and must be listed first -->
</head>

<body>
   <div class="signin">

    <form action="pic.html" method="get" name="Form" onsubmit="return validateForm()">
    <h2 style="color:#fff;">Log In</h2>
    <div id = "login-div">
    <input type="text" name="username" placeholder="Username" id="email_field"/><br /><br />
    <input type="password" name="password" placeholder="Password" id="password_field" /><br /><br />
    <input type = "submit" value="Login"><br /><br />
</div>
<div id="container">
<a href="re.html" style=" margin-right:0px; font-size:13px; font-family:Tahoma, Geneva, sans-serif;">Reset password?</a>
    <a href="for.html" style=" margin-left:30px; font-size:13px; font-family:Tahoma, Geneva, sans-serif;">Forget password</a>
    </div><br /><br /><br /><br /><br /><br />
    Don't have account?<a href="sgnup.html" style="font-family:'Play', sans-serif;">&nbsp;Sign Up</a>

</form>
    </div>
<script src="login.js"></script> 
</body>
</html>
