<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="pics.css" rel="stylesheet" type="text/css" />

<link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
</head>

  <body>
        <div class="menu-toggle" id="hamburger">
            <i class="fas fa-bars"></i>
        </div>
        <div class="overlay"></div>
        <div class="container">       
            <nav>
                <h1 class="brand"><a href="https://bmsce.ac.in">BM<span>S</span>CE</a></h1>
                <div class="main_menu">
                <ul>
                    <li><a href="pic.html">Home</a></li>    
                    <li><a href="aboutus.html">About</a></li>
                    <li><a href="meetteam.html">Contact</a></li>
                    <li><a href="#">Services</a>
                      <div class="sub_menu">    
                        <ul>
                          <li><div class="one"><a href = "Road.html">Novel</a></div></li>
                          <li><div class="two"><a href = "comics.html">Comics</a></div></li>
                          <li><div class="three"><a href = "ml.html">Computers</a></div></li>
                        </ul>
                      </div>             
                    <li><a href ="entry.html">LogOut</a></li>
                </ul>
              </div>
            </nav>
            <div class="button_box2">
                <form class="form-wrapper-2 cf">
            <input type="text" placeholder="Search here..." required>
            <button type="submit">Search</button>
                </form>
            <!--Pics start here-->
        <div class="gallery-image">
                <div class="img-box">
                 <img src="Hands-On Machine Learning with Scikit-Learn and Tensor Flow Concepts, Tools, and Techniques to Build Intelligent Systems.jpg"  alt="" />
                  <div class="transparent-box">
                    <div class="caption">
                      <p><a href= "https://www.amazon.in/Hands-Machine-Learning-Scikit-Learn-Tensor/dp/9352135210/ref=sr_1_1?crid=3GE6UFQ9AHP70&keywords=hands-on+machine+learning+with+scikit-learn&qid=1573924268&s=books&sprefix=learn+machine+le%2Cstripbooks%2C332&sr=1-1" target="blank">Computer Science</a></p>
                      <p class="opacity-low"><a href= "https://www.amazon.in/Hands-Machine-Learning-Scikit-Learn-Tensor/dp/9352135210/ref=sr_1_1?crid=3GE6UFQ9AHP70&keywords=hands-on+machine+learning+with+scikit-learn&qid=1573924268&s=books&sprefix=learn+machine+le%2Cstripbooks%2C332&sr=1-1" target="blank">Click to BUY</a></p>
                    </div>
                  </div>
                </div>
                <div class="novel">
                        <h1>Hands-On Machine Learning with Scikit-Learn and Tensor Flow Concepts, Tools, and Techniques to Build Intelligent Systems </h1><br>
                        <div class="script">
                        <p>Through a series of recent breakthroughs, deep learning has boosted the entire field of machine learning. Now, even programmers who know close to nothing about this technology can use simple, efficient tools to implement programs capable of learning from data. This practical book shows you how. By using concrete examples, minimal theory and two production-ready Python frameworksóscikit-learn and TensorFlowóauthor AurÈlien GÈron helps you gain an intuitive understanding of the concepts and tools for building intelligent systems. Youíll learn a range of techniques, starting with simple linear regression and progressing to deep neural networks. with exercises in each chapter to help you apply what youíve learned, all you need is programming experience to get started.</p>
                        </div>
                
                
                </div>
               <!-- pics end from here -->
            </div>
        </div>
        
   
</body>
</html>

