<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="pics.css" rel="stylesheet" type="text/css" />

<link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
</head>

  <body>
        <div class="menu-toggle" id="hamburger">
            <i class="fas fa-bars"></i>
        </div>
        <div class="overlay"></div>
        <div class="container">       
            <nav>
                <h1 class="brand"><a href="https://bmsce.ac.in">BM<span>S</span>CE</a></h1>
                <div class="main_menu">
                <ul>
                    <li><a href="pic.html">Home</a></li>    
                    <li><a href="aboutus.html">About</a></li>
                    <li><a href="meetteam.html">Contact</a></li>
                    <li><a href="#">Services</a>
                      <div class="sub_menu">    
                        <ul>
                          <li><div class="one"><a href = "Road.html">Novel</a></div></li>
                          <li><div class="two"><a href = "comics.html">Comics</a></div></li>
                          <li><div class="three"><a href = "ml.html">Computers</a></div></li>
                        </ul>
                      </div>             
                    <li><a href ="entry.html">LogOut</a></li>
                </ul>
              </div>
            </nav>
            <div class="button_box2">
                <form class="form-wrapper-2 cf">
            <input type="text" placeholder="Search here..." required>
            <button type="submit">Search</button>
                </form>
            <!--Pics start here-->
        <div class="gallery-image">
                <div class="img-box">
                 <img src="Metro 2033 The novels that inspired the bestselling games.jpg"  alt="" />
                  <div class="transparent-box">
                    <div class="caption">
                      <p><a href= "https://www.amazon.in/Metro-2033-Dmitry-Glukhovsky/dp/0575086254/ref=sr_1_1?crid=3UJI79IN4OZFH&keywords=metro+2033&qid=1573924317&s=books&sprefix=metro+2033%2Cstripbooks%2C342&sr=1-1
                        " target="blank">Novel </a></p>
                      <p class="opacity-low"><a href= "https://www.amazon.in/Metro-2033-Dmitry-Glukhovsky/dp/0575086254/ref=sr_1_1?crid=3UJI79IN4OZFH&keywords=metro+2033&qid=1573924317&s=books&sprefix=metro+2033%2Cstripbooks%2C342&sr=1-1
                        " target="blank">Click to BUY</a></p>
                    </div>
                  </div>
                </div>
                <div class="novel">
                        <h1>Metro 2033 </h1><br>
                        <div class="script">
                        <p>The year is 2033. The world has been reduced to rubble. Humanity is nearly extinct. The half-destroyed cities have become uninhabitable through radiation. Beyond their boundaries, they say, lie endless burned-out deserts and the remains of splintered forests. Survivors still remember the past greatness of humankind. But the last remains of civilisation have already become a distant memory, the stuff of myth and legend.</p>
                        </div>
                
                
                </div>
               <!-- pics end from here -->
            </div>
        </div>
        
   
</body>
</html>

