body {
	 background-color: #EEE;
	 font-family:Helvetica,Arial,sans-serif;
}
a{
	text-decoration:none;
    color:red;
}
#container{
	background-color:white;
    width:800px;
	margin-left:auto;
	margin-right:auto;
}

#header{
 background-color:#66CCFF;
 color:white;
 text-align:center;
 padding:10px;
}

#content{
	padding: 10px-10px-10px-10px;
}

#nav{
	width:180px;
	float:left;
	
}
#nav ul{
	list-style-type:none;
	padding:0;
	color:blue;
}

.selected{
	font-weight:bold;
}
#main{
	width:600px;
	float:right;
}

#footer{
	clear:both;
	padding:10px;
	background-color:#999999;
	color:white;
	text-align:right;

h1{
	margin:0;
}
